#### CAPSTONE PROJECT

In [79]:
import pandas as pd
import numpy as np

In [80]:
df=pd.read_csv(r"C:\Users\shreya\Downloads\hospital_outpatient_DataSet.csv")
df

,Visit_ID,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937
1,V1221,01-01-2024,Cardiology,Dr. Ahmed,67.0,M,Fatigue,Migraine,764.0,359.0,Yes,62,1123
2,V1016,01-01-2024,Cardiology,Dr. Meena,48.0,F,Allergy,Fracture,1085.0,727.0,Yes,87,1812
3,V1205,03-01-2024,Orthopedics,Dr. Meena,34.0,F,NaN,Hypertension,1893.0,323.0,No,120,2216
4,V1212,03-01-2024,Orthopedics,Dr. Meena,29.0,F,Fever,Infection,1056.0,357.0,Yes,18,1413
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,V1259,29-12-2024,Dermatology,Dr. Ahmed,44.0,M,Pain,Infection,722.0,103.0,Yes,52,825
296,V1141,30-12-2024,ENT,Dr. Banerjee,49.0,M,Rash,Flu,NaN,346.0,Yes,61,652
297,V1120,30-12-2024,Dermatology,Dr. Rao,20.0,F,NaN,Hypertension,1206.0,343.0,Yes,94,1549
298,V1047,31-12-2024,Orthopedics,Dr. Ahmed,38.0,F,Rash,Infection,1500.0,768.0,Yes,30,2268
299,V1092,31-12-2024,Orthopedics,Dr. Sharma,55.0,F,Fever,Flu,NaN,383.0,Yes,66,1607

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visit_ID           300 non-null    object
 1   Date               300 non-null    object
 2   Department         300 non-null    object
 3   Doctor_Name        300 non-null    object
 4   Patient_Age        291 non-null    float64
 5   Gender             295 non-null    object
 6   Symptoms           285 non-null    object
 7   Diagnosis          285 non-null    object
 8   Medicine_Cost      285 non-null    float64
 9   Consultation_Fee   293 non-null    float64
 10  Followup_Required  285 non-null    object
 11  Visit_Duration     300 non-null    int64
 12  Total_Bill         300 non-null    int64
dtypes: float64(3), int64(2), object(8)
memory usage: 30.6+ KB

In [82]:
df.shape
df.head()

,Visit_ID,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937
1,V1221,01-01-2024,Cardiology,Dr. Ahmed,67.0,M,Fatigue,Migraine,764.0,359.0,Yes,62,1123
2,V1016,01-01-2024,Cardiology,Dr. Meena,48.0,F,Allergy,Fracture,1085.0,727.0,Yes,87,1812
3,V1205,03-01-2024,Orthopedics,Dr. Meena,34.0,F,NaN,Hypertension,1893.0,323.0,No,120,2216
4,V1212,03-01-2024,Orthopedics,Dr. Meena,29.0,F,Fever,Infection,1056.0,357.0,Yes,18,1413

In [83]:
df.shape

(300, 13)

In [84]:
# Missing values report
df.isnull().sum().sort_values(ascending=False)

Symptoms             15
Followup_Required    15
Medicine_Cost        15
Diagnosis            15
Patient_Age           9
Consultation_Fee      7
Gender                5
Date                  0
Visit_ID              0
Doctor_Name           0
Department            0
Visit_Duration        0
Total_Bill            0
dtype: int64

In [85]:
df.duplicated().sum()

np.int64(0)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visit_ID           300 non-null    object
 1   Date               300 non-null    object
 2   Department         300 non-null    object
 3   Doctor_Name        300 non-null    object
 4   Patient_Age        291 non-null    float64
 5   Gender             295 non-null    object
 6   Symptoms           285 non-null    object
 7   Diagnosis          285 non-null    object
 8   Medicine_Cost      285 non-null    float64
 9   Consultation_Fee   293 non-null    float64
 10  Followup_Required  285 non-null    object
 11  Visit_Duration     300 non-null    int64
 12  Total_Bill         300 non-null    int64
dtypes: float64(3), int64(2), object(8)
memory usage: 30.6+ KB

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visit_ID           300 non-null    object
 1   Date               300 non-null    object
 2   Department         300 non-null    object
 3   Doctor_Name        300 non-null    object
 4   Patient_Age        291 non-null    float64
 5   Gender             295 non-null    object
 6   Symptoms           285 non-null    object
 7   Diagnosis          285 non-null    object
 8   Medicine_Cost      285 non-null    float64
 9   Consultation_Fee   293 non-null    float64
 10  Followup_Required  285 non-null    object
 11  Visit_Duration     300 non-null    int64
 12  Total_Bill         300 non-null    int64
dtypes: float64(3), int64(2), object(8)
memory usage: 30.6+ KB

In [88]:
df.head(2)

,Visit_ID,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937
1,V1221,01-01-2024,Cardiology,Dr. Ahmed,67.0,M,Fatigue,Migraine,764.0,359.0,Yes,62,1123

In [89]:
df['Patient_Age'] = df['Patient_Age'].fillna(df['Patient_Age'].median())
df['Medicine_Cost'] = df['Medicine_Cost'].fillna(df['Medicine_Cost'].median())
df['Consultation_Fee'] = df['Consultation_Fee'].fillna(df['Consultation_Fee'].median())

In [90]:
df.isnull().sum()

Visit_ID              0
Date                  0
Department            0
Doctor_Name           0
Patient_Age           0
Gender                5
Symptoms             15
Diagnosis            15
Medicine_Cost         0
Consultation_Fee      0
Followup_Required    15
Visit_Duration        0
Total_Bill            0
dtype: int64

In [91]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [92]:
df.isnull().sum()

Visit_ID              0
Date                  0
Department            0
Doctor_Name           0
Patient_Age           0
Gender                0
Symptoms             15
Diagnosis            15
Medicine_Cost         0
Consultation_Fee      0
Followup_Required    15
Visit_Duration        0
Total_Bill            0
dtype: int64

In [93]:
  df['Symptoms'] = df['Symptoms'].fillna('Unknown')
  df['Diagnosis'] = df['Diagnosis'].fillna('Unknown')
  df['Followup_Required'] = df['Followup_Required'].fillna('Unknown')

In [94]:
df.isna().sum()

Visit_ID             0
Date                 0
Department           0
Doctor_Name          0
Patient_Age          0
Gender               0
Symptoms             0
Diagnosis            0
Medicine_Cost        0
Consultation_Fee     0
Followup_Required    0
Visit_Duration       0
Total_Bill           0
dtype: int64

In [95]:
df.duplicated().value_counts()

False    300
Name: count, dtype: int64

In [96]:
df = df.drop_duplicates()

In [97]:
df.head(1)

,Visit_ID,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937

In [98]:
df['Followup_Required'] = df['Followup_Required'].str.strip().str.upper()

In [99]:
df.head(5)

,Visit_ID,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,NO,77,1937
1,V1221,01-01-2024,Cardiology,Dr. Ahmed,67.0,M,Fatigue,Migraine,764.0,359.0,YES,62,1123
2,V1016,01-01-2024,Cardiology,Dr. Meena,48.0,F,Allergy,Fracture,1085.0,727.0,YES,87,1812
3,V1205,03-01-2024,Orthopedics,Dr. Meena,34.0,F,Unknown,Hypertension,1893.0,323.0,NO,120,2216
4,V1212,03-01-2024,Orthopedics,Dr. Meena,29.0,F,Fever,Infection,1056.0,357.0,YES,18,1413

In [100]:
df['Followup_Required'] = df['Followup_Required'].str.strip().str.title()

In [101]:
df.columns = (df.columns.str.strip().str.upper().str.replace("_"," "))

In [102]:
df.head(1)

,VISIT ID,DATE,DEPARTMENT,DOCTOR NAME,PATIENT AGE,GENDER,SYMPTOMS,DIAGNOSIS,MEDICINE COST,CONSULTATION FEE,FOLLOWUP REQUIRED,VISIT DURATION,TOTAL BILL
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937

In [103]:
df.columns = (df.columns.str.strip().str.title().str.replace(" ","_"))

In [104]:
df.head(1)

,Visit_Id,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937

In [105]:
df['Symptoms'].value_counts()

Symptoms
Headache    50
Allergy     48
Pain        43
Fatigue     38
Rash        38
Fever       38
Cough       30
Unknown     15
Name: count, dtype: int64

In [106]:
df['Diagnosis'].unique()

array(['Hypertension', 'Migraine', 'Fracture', 'Infection', 'Unknown',
       'Flu'], dtype=object)

In [107]:
df['Bill_Check'] = df['Medicine_Cost'] + df['Consultation_Fee']

In [108]:
df['Age_Group'] = pd.cut(df['Patient_Age'],bins=[0, 18, 35, 50, 65, 100],
    labels=['Child', 'Young Adult', 'Adult', 'Senior', 'Elder'])

In [109]:
df['Premium_Patient_Flag'] = (df['Total_Bill'] >=2000 ).astype(int)

In [110]:
df.head(2)

,Visit_Id,Date,Department,Doctor_Name,Patient_Age,Gender,Symptoms,Diagnosis,Medicine_Cost,Consultation_Fee,Followup_Required,Visit_Duration,Total_Bill,Bill_Check,Age_Group,Premium_Patient_Flag
0,V1170,01-01-2024,Cardiology,Dr. Ahmed,61.0,F,Allergy,Hypertension,1674.0,263.0,No,77,1937,1937.0,Senior,0
1,V1221,01-01-2024,Cardiology,Dr. Ahmed,67.0,M,Fatigue,Migraine,764.0,359.0,Yes,62,1123,1123.0,Elder,0

In [111]:
dept_bill = (
    df.groupby('Department')
      .agg(sum_total_bill=('Total_Bill', 'sum'))
      .sort_values(by='sum_total_bill', ascending=False))

dept_bill

             sum_total_bill
Department
ENT                  123671
Cardiology           104745
General               91531
Orthopedics           86265
Dermatology           75237

the ENT department generates the highest revenue of 123671

In [112]:
age_group_count = df['Age_Group'].value_counts()
age_group_count

Age_Group
Elder          69
Senior         64
Young Adult    61
Adult          58
Child          48
Name: count, dtype: int64

They have more elder patients than other patients.

In [113]:
gender_revenue = (
    df.groupby('Gender')
      .agg(total_revenue=('Total_Bill', 'sum'))
      .sort_values(by='total_revenue', ascending=False)
)

gender_revenue

        total_revenue
Gender
M              246234
F              235215

The more revenue is generated form the male with 237020

In [114]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

MAE indicates the average absolute difference between predicted and actual Total_Bill values.

In [118]:
X_reg = df[['Department', 'Patient_Age', 'Medicine_Cost', 'Consultation_Fee', 'Visit_Duration']]
y_reg = df['Total_Bill']

X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_reg, y_reg, test_size=0.2, random_state=42)

# Pipeline for Regression
reg_preprocessor = ColumnTransformer(transformers=[
    ('num', StandardScaler(), ['Patient_Age', 'Medicine_Cost', 'Consultation_Fee', 'Visit_Duration']),
    ('cat', OneHotEncoder(handle_unknown='ignore'), ['Department'])
])

reg_pipeline = Pipeline(steps=[
    ('preprocessor', reg_preprocessor),
    ('regressor', LinearRegression())
])

reg_pipeline.fit(X_train_r, y_train_r)
mae = mean_absolute_error(y_test_r, reg_pipeline.predict(X_test_r))
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print("MAE Explanation: This represents the average dollar difference between our predicted bills and actual costs.")

Mean Absolute Error (MAE): 36.12
MAE Explanation: This represents the average dollar difference between our predicted bills and actual costs.

In [121]:
X_clf = df[['Department', 'Gender', 'Symptoms', 'Diagnosis', 'Total_Bill', 'Visit_Duration']]
y_clf = df['Gender'].map({'M': 1,'F': 0})

X_train_c, X_test_c, y_train_c, y_test_c = train_test_split(X_clf, y_clf, test_size=0.2, random_state=42)

# Pipeline for Classification
clf_preprocessor = ColumnTransformer(transformers=[
    ('num', StandardScaler(), ['Total_Bill', 'Visit_Duration']),
    ('cat', OneHotEncoder(handle_unknown='ignore'), ['Department', 'Gender', 'Symptoms', 'Diagnosis'])
])

clf_pipeline = Pipeline(steps=[
    ('preprocessor', clf_preprocessor),
    ('classifier', LogisticRegression())
])

clf_pipeline.fit(X_train_c, y_train_c)
y_pred_c = clf_pipeline.predict(X_test_c)

print("Confusion Matrix:\n", confusion_matrix(y_test_c, y_pred_c))
print(f"Precision: {precision_score(y_test_c, y_pred_c):.2f}")
print(f"Recall: {recall_score(y_test_c, y_pred_c):.2f}")
print("Recall Importance: High recall ensures we don't miss patients who truly need follow-up care.")

Confusion Matrix:
 [[28  0]
 [ 0 32]]
Precision: 1.00
Recall: 1.00
Recall Importance: High recall ensures we don't miss patients who truly need follow-up care.

In [ ]:
df['Followup_Required'].value_counts()

In [71]:

# Feature selection
X = df[['Department', 'Gender', 'Symptoms', 'Diagnosis', 'Total_Bill', 'Visit_Duration']]
y = df['Gender'].map({'M': 1, 'F': 0})

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Total_Bill', 'Visit_Duration']),
        ('cat', OneHotEncoder(handle_unknown='ignore'),
         ['Department', 'Gender', 'Symptoms', 'Diagnosis'])
    ]
)

# Pipeline with Logistic Regression
pipeline = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('model', LogisticRegression(max_iter=1000))
])

# Train model
pipeline.fit(X_train, y_train)

# Predictions
y_pred = pipeline.predict(X_test)

# Evaluation
cm = confusion_matrix(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print("Confusion Matrix:\n", cm)
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print("Recall Importance: High recall ensures patients who actually need follow-up are not missed.")

--- TASK 6: CLASSIFICATION ---
Confusion Matrix:
 [[28  0]
 [ 0 32]]
Precision: 1.00
Recall: 1.00
Recall Importance: High recall ensures patients who actually need follow-up are not missed.

conclusion
The analysis showed that adult patients form the largest share of outpatient visits and certain departments generate higher total billing.
Gender-wise and department-wise patterns indicate differences in revenue contribution across patient groups.
Feature engineering helped identify high-bill and senior patient patterns clearly.
The regression model predicted Total_Bill with a reasonable Mean Absolute Error, indicating acceptable prediction accuracy.
The classification model achieved good precision and recall in identifying patients who require follow-up, with recall being especially important to avoid missing critical cases.
A limitation of this study is the limited number of clinical and behavioral variables, which may restrict model performance.

In [124]:
df.to_excel(r"C:\MBA 2024-26\sem3\AI & ML\shreya_1BG24BA045.xlsx"             )
print("Thank You EXport of data to excel is done")

Thank You EXport of data to excel is done